<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808262353334-5d40mblsjul0p76ouf707l4ku5uifdp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808262353334-5d40mblsjul0p76ouf707l4ku5uifdp7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>808262353334-6b919khgr32hcqgqqc3ch2vj8u789ilf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjNYEVthRGrQ5odD6r2pr44GNFoSUswww</string>
	<key>GCM_SENDER_ID</key>
	<string>808262353334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transvitiAssessmentTest</string>
	<key>PROJECT_ID</key>
	<string>solutions-sol</string>
	<key>STORAGE_BUCKET</key>
	<string>solutions-sol.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808262353334:ios:ecd383b2249f190f8d8117</string>
</dict>
</plist>